/* ROOT */
:root{
    --main-font-family: "Livvic", "Arial", sans-serif;
    --main-font-weight: 600;
    --main-body-bg-color: #014e56;
    --main-text-color: #fff;
    --main-text2-color: #f67e7e;
    --main-text3-color: #79c8c7;
    --footer-bg-color:#002529;
    --main-create-team-bg-color:#012f34;
}



@font-face {
    font-family: "Livvic";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: 
    url("../fonts/livvic-v13-latin-600.woff2") format("woff2"), 
    url("../fonts/livvic-v13-latin-600.woff") format("woff"); 
}

@font-face {
    font-family: "Livvic";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: 
    url("../fonts/livvic-v13-latin-700.woff2") format("woff2"), 
    url("../fonts/livvic-v13-latin-700.woff") format("woff"); 
}

*{
    box-sizing: border-box;
}

html{
    height: 100%;
}

img{
    display: block;
    height: auto;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: var(--main-font-family);
    font-weight: var(--main-font-weight);
    background-color: var(--main-body-bg-color);
}

.container{
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* SITE HEADER  */



/* SITE MAIN  */
.site-main{
    flex-grow: 1;
}





/* HERO SECTION  */



/* CREATE TEAM */

.create-team {
    position: relative;
    top: 0;
    left: 0;
    padding: 140px 0;
    background-color: var(--main-create-team-bg-color);
    background-image: url("../images/bg-img-3.svg");
    background-repeat: no-repeat;
    background-size: 200px 244px;
    background-position: calc(50% + 760px) calc(50% + 220px);
}

.create-team__box {
    display: flex;
    justify-content: space-between;
}

.create-team__textbox {
    position: relative;
    width: 445px;
    padding-top: 58px;
    margin-right: 20px;
}

.create-team__text {
    margin: 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;

    
    color: var(--main-text-color);
}
.create-team__text::before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 50px;
    height: 4px;
    background-color: var(--main-text2-color);
    content: "";
}

.create-team__list {
    margin: 0;
    padding-top: 58px;
    padding-left: 0;
    list-style: none;
}

.create-team__item {
    position: relative;
    top: 0;
    left: 0;
    width: 540px;
    margin-bottom: 32px;
    padding-left: 95px;
}
.create-team__item::before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 72px;
    height: 72px;
    content: "";
}
.create-team__item:nth-child(1)::before {
    background-image: url("../images/men-ilustration.svg");
}
.create-team__item:nth-child(2)::before {
    background-image: url("../images/settings.svg");
}
.create-team__item:nth-child(3)::before {
    background-image: url("../images/graphic.svg");
}
.create-team__item:last-child {
    margin-bottom: 0;
}

.create-team__item-text {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;

    color: var(--main-text2-color);
}

.create-team__description {
    margin: 0;
    font-size: 15px;
    line-height: 25px;

    color: var(--main-text-color);

    opacity: 0.8;
}

 /* REVIEWS */



/* SITE ARTICLE  */

.site-article {
    padding: 76px 0;
    background-color: var(--main-text2-color);
    background-image: url("../images/bg-img-6.svg");
    background-repeat: no-repeat;
    background-position: calc(50% - 660px) calc(50% + 80px);
}

.site-article__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 917px;
    margin-right: 95px;
    margin-left: 98px;
}

.site-article__text {
    margin: 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;

    color: var(--main-create-team-bg-color);
}


.link--article {
    color: var(--main-create-team-bg-color);
    border-color: var(--main-create-team-bg-color);
}
.link--article:hover {
    color: var(--main-text-color);
    background-color: var(--main-create-team-bg-color);
}

/* SITE FOOTER  */